/* Estilos generales */
body {
  font-family: "Chewy", system-ui;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Estilos para la barra de navegación */
.navbar {
  background-color: #26355d;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 10px;
}

.logo img {
  height: 100px;
  width: auto;
  margin-left: 25px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
}

.nav-list li {
  gap: 20px;
}

.nav-list a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 25px;
}

.nav-list a:hover {
  background-color: #e75757;
  cursor: pointer;
}
.nav-list a.carrito-compras {
  background-color: transparent;
  pointer-events: painted;
}
#cuenta {
  background-color: #e75757;
  border-radius: 100%;
  display: inline-block;
  width: 30px;
  line-height: 30px;
  aspect-ratio: 1;
  text-align: center;
  position: absolute;
}

/* Estilos para el banner */
.banner {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #ff8f00;
  align-items: center;
}

.banner-image {
  flex: 1;
  height: 100%;
}

.banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-text {
  flex: 1;
  color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-logo {
  height: 250px;
  width: auto;
  margin-bottom: 0;
}

.banner h1 {
  font-size: 2.5em;
  margin: 0;
}

.slogan {
  font-size: 1.5em;
  margin: 10px 0 0 0;
}
.btn {
  padding: 1.1em 2em;
  background: none;
  border: 2px solid #fff;
  font-size: 20px;
  text-decoration: none;
  color: #131313;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 12px;
  background-color: #48e4ec;
  font-weight: bolder;
  box-shadow: 0 2px 0 2px #000;
}

.btn:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #ff6700;
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
}

.btn:hover {
  background-color: #f0994c;
  color: #fff;
  box-shadow: 0 2px 0 2px #0d3b66;
}

.btn:hover::before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
}

.btn:active {
  transform: scale(0.9);
}

/**FOOTER**/
.footer {
  background-color: #0d3b66;
  color: #fff;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}

/* Contenedor del footer */
.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* Sección del footer */
.footer-section {
  flex: 1;
  min-width: 200px;
}

/* Títulos de las secciones del footer */
.footer-section h3 {
  margin-bottom: 15px;
  font-size: 18px;
}

/* Enlaces dentro del footer */
.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* Estilo para los iconos de redes sociales */
.social-links {
  display: flex;
  gap: 10px;
}

.social-links a {
  display: block;
}

.social-links img {
  width: 30px;
  height: auto;
}

/* Estilo para el pie de página */
.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #1b1e32;
  padding-top: 10px;
}
