body {
  font-family: "Chewy", system-ui;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Estilos para la barra de navegación */
.navbar {
  background-color: #26355d;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 10px;
}

.logo img {
  height: 100px;
  width: auto;
  margin-left: 25px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
}

.nav-list li {
  gap: 20px;
}

.nav-list a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 25px;
  cursor: pointer;
}

.nav-list a:hover {
  background-color: #e75757;
  font-size: 30px;
}
.nav-list a.carrito-compras {
  background-color: transparent;
  pointer-events: painted;
}
#cuenta {
  background-color: #e75757;
  border-radius: 100%;
  display: inline-block;
  width: 30px;
  line-height: 30px;
  aspect-ratio: 1;
  text-align: center;
  position: absolute;
}

/*pagina producto*/
h2.tituloproducto {
  text-align: center;
  font-size: 100px;
  color: #e75757;
  margin: 0%;
  text-shadow: -3px 4px #000;
}
div.titulo {
  background-color: #e0e0e0;
  margin: 0;
  background-size: 20%;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 10px;
}

/*Diseño de los productos */
.allitems {
  background-color: #e0e0e0;
  padding: 20px;
  display: flex;
  justify-content: center;
}
#contenedor-productos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  width: 100%;
}

.card-Tienda {
  position: relative;
  width: 11.875em;
  height: 16.5em;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
  transition: all 120ms;
  display: flex;
  background: #ffffff;
  padding: 0.5em;
  padding-bottom: 3.4em;
}

.card-Tienda .title-producto {
  font-family: sans-serif;
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 1.875em;
  font-weight: 400;
  color: #000000;
}

.card-Tienda .price {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1em;
  position: absolute;
  left: 0.625em;
  bottom: 0.2em;
  color: #000000;
}

/** boton comprar **/
.CartBtn {
  width: 100%;
  height: 40px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  background-color: rgb(38 53 93);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
}

.IconContainer {
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.5s;
}

.icon {
  border-radius: 1px;
}

.text {
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  transition-duration: 0.5s;
  font-size: 18px;
  font-weight: 600;
}

.CartBtn:hover .IconContainer {
  transform: translateX(80px);
  border-radius: 40px;
  transition-duration: 0.3s;
}

.CartBtn:hover .text {
  transform: translate(10px, 0px);
  transition-duration: 0.1s;
}

.CartBtn:active {
  transform: scale(0.95);
  transition-duration: 0.1s;
  background-color: rgb(72, 255, 0);
}

.image-Tienda {
  background: rgb(0 0 0 / 89%);
  width: 100%;
  height: 100%;
  place-items: flex;
  transition: filter 0.3s ease, opacity 0.3s ease;
  position: relative;
  display: inline-block;
}

.info {
  position: absolute;
  bottom: 0;
  margin-bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(255 255 255);
  text-shadow: -2px 1.5px #000000;
  font-size: 16px;
  width: 90%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.8s ease;
}
.image-Tienda:hover img {
  filter: blur(1px);
  opacity: 0.5;
}
.image-Tienda:hover .info {
  opacity: 1;
}
